<div class="container-registro">
<div class="form-signin w-100 m-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Registro</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
      [(ngModel)]="email" name="email">

      <label for="floatingInput">Email</label>
    </div>

    <div class="form-floating">
      <input type="username" class="form-control" id="floatingInput" placeholder="Username"
      [(ngModel)]="username" name="username">

      <label for="floatingInput">Usuario</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
      [(ngModel)]="password" name="password">

      <label for="floatingPassword">Password</label>
    </div>
    
    <button class="btn btn-primary w-100 py-2" style="margin-bottom: 6px;" type="submit" (click)="onRegistrarse()">Registrarse</button>

  </form>
</div>
</div>