<div class="container">
<div class="container-card-list">
	<ul class="card-list">
		
		<li class="card">
			<a class="card-image" style="background-image: url(../../../assets/hangman.png);" routerLink="ahorcado">
				<img src="../../../assets/hangman.png" alt="ahorcado" />
			</a>
			<a class="card-description" >
				<h2>AHORCADO</h2>
				<p>Adivina la palabra en 6 o menos intentos!</p>
			</a>
		</li>
		
		<li class="card">
			<a class="card-image" style="background-image: url(../../../assets/Hi-lo-Cards.jpg);" routerLink="mayor-menor">
				<img src="../../../assets/Hi-lo-Cards.jpg" alt="mayor-menor" />
			</a>
			<a class="card-description">
				<h2>MAYOR O MENOR</h2>
				<p>Adivina si la carta es mayor o menor!</p>
			</a>
		</li>
		
		<li class="card">
			<a class="card-image" style="background-image: url(../../../assets/flags-of-the-world.jpg);" routerLink="preguntados">
				<img src="../../../assets/flags-of-the-world.jpg" alt="preguntados" />
			</a>
			<a class="card-description">
				<h2>PREGUNTADOS</h2>
				<p>Adivina de que pais es la bandera!</p>
			</a>
		</li>

		<li class="card">
			<a class="card-image" style="background-image: url(../../../assets/colores.jpg);" routerLink="mi-juego">
				<img src="../../../assets/colores.jpg" alt="mi-juego" />
			</a>
			<a class="card-description">
				<h2>JUEGO RGB</h2>
				<p>Adivina el color en formato RGB!</p>
			</a>
		</li>

	</ul>
</div>
</div>

