.mayormenor-container {
    /* background-image: url("../../../../assets/mayor-menor/zpoker-background.png"); */
    background-image: url("../../../../assets/saladejuegos-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    min-height: 100vh;
    
}

.container{
    background-color: rgba(222, 221, 221, 0.5);
    border-radius: 30px;
    padding: 30px;
    margin-top: 100px;
}
  
  .titulo-mayormenor {
    text-align: center;
    color: #000;
    font-size: 70px;
    font-weight: bolder;
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 5px 15px;
    margin-top: 0.5rem;
  }
  
  .puntuacion {
    text-align: center;
    color: rgb(8, 8, 8);
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .intentos {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.8rem;
  }

   .juego-terminado {
   text-align: center;
     color: white;
     font-size: 2rem;
     text-shadow: 2px 2px 2px black;
     font-weight: bold;
   } 
  
  .row {
    margin: 1rem auto;
  }
  
  .carta-izquierda {
    width: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 16px rgb(0, 0, 0);
  }
  
  .carta-derecha {
    width: 10rem;
    border-radius: 10px;
    box-shadow: 0 0 16px rgb(0, 0, 0);
  }
  
  .btn-mayormenor {
    display: block;
    margin: 0.5rem auto;
  }
  
  @media screen and (max-width: 500px) {
    .carta-izquierda {
      width: 9rem;
    }
    .carta-derecha {
      width: 9rem;
    }
  }
  
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  
  /* From uiverse.io */
  .btn-menor {
    padding: 1em 2em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #f00;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
  }
  
  .btn-menor:hover {
    background-color: #ff0000;
    box-shadow: 0px 15px 20px rgba(255, 8, 0, 0.4);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
  }
  
  .btn-menor:active {
    transform: translateY(-2px);
  }
  
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  
  /* From uiverse.io */
  .btn-mayor {
    padding: 1em 2em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bolder;
    color: #000000;
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #28c423;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 1rem;

    
  }
  
  .btn-mayor:hover {
    background-color: #09ff00;
    box-shadow: 0px 15px 20px rgba(21, 255, 0, 0.4);
    color: #fff;
    text-shadow: 1px 1px 2px black;
    transform: translateY(-7px);
  }
  
  .btn-mayor:active {
    transform: translateY(-2px);
  }
  
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  /* ****************************************************************** */
  
  /* From uiverse.io */
  .btn-comenzar-reiniciar {
    padding: 1em 2em;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 1rem auto;

    border-radius: 10px;
    background-color: #f70;
    font-weight: bolder;
    color: #000000;
    border: 3px solid #000000;
  }
  
  .btn-comenzar-reiniciar:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
    background-color: #000000;
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
  }
  
  .btn-comenzar-reiniciar {
    transform: translateY(-1px);
  }


  
.btnJugarNuevo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 35px;
    border-radius: 10px;
    height: 90px;
    width: 120px;
    border: 3px solid #000000;
    background-color: #f70;
    font-weight: bolder;
}
.btnJugarNuevo:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
    background-color: #000000;
    color: rgb(255, 255, 255);
}
  



.btnVolver{
    /* position: fixed; */
    left: 0;
    top: 0;
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    width: 80px;
    border: 3px solid #000000;
    background-color: #f70;
    font-weight: bolder;
}
.btnVolver:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);
    background-color: #000000;
    color: rgb(255, 255, 255);
}