<div class="container">
  <div class="container-quiensoy">
    <div class="profile">
      <div class="image"></div>
        <h1 class="quien-soy">Quien soy?</h1>
        <br>
        <p>Hola! soy Nahuel Borquez y actualmente estoy desarrollando el TP de Sala de Juegos para la materia Laboratorio 4.</p>
        <br>
        <p>Mi juego consiste en adivinar el color mostrado en formato rgb, en menos de 5 intentos, si el usuario adivina antes de los 5 intentos gana,
          en caso contrario pierde.
        </p>

    </div>
  </div>
</div>